.button {
    --light-color: rgba(255,255,255,.5);
    --dark-color: rgba(0,0,0,.2);
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    box-shadow: 2px 2px 5px var(--dark-color),-2px -2px 5px var(--light-color);
    border-radius: 10px;
    border: none;
    transition: .4s all ease-out;
    cursor: pointer;
    user-select: none;
}
.button:hover{
    box-shadow:inset 2px 2px 5px var(--dark-color),inset -2px -2px 5px var(--light-color);
    letter-spacing: 3px;
}