@define-mixin common-bg {
    border: none;
    box-shadow: var(--ms) var(--ms) var(--ms) rgba(0,0,0,.2);
    border-left: 1px solid var(--t);
    border-top: 1px solid var(--t);
    background-color: var(--t);
    backdrop-filter: blur(var(--ms));
}

@define-mixin before-after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    transition: 0.5s;
}